html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(43, 43, 43);
    color:white;
    text-align:center;

  
   
}
body{
    border:solid white 20px ;
  
}
p{
    font-size: medium;
}
.logos{
    width: 50px;
    height: 50px;
<<<<<<< HEAD
    border: 4px;
    margin: 4px;
    vertical-align: middle;
}
.redes{
    margin: 5px auto;
    /* background-color: rgb(77, 77, 77); */

    /* height:fit-content; */
    font-size: 1.2em;
}

.rosto{
=======
    border: 0px;
    margin: 2px;
    vertical-align: middle;
}
footer{
    margin: 5px auto;
      font-size: 1.2em;
}
main{
    margin: 5px auto;
      font-size: 1.2em;
}

header{
>>>>>>> 24c85fc (Alterações para deixar o codigo mais semantico)
    margin: center;
    font-size: 1.2em ;
}
img{
<<<<<<< HEAD
    border:solid rgb(255, 255, 255) 10px;
=======
    border:solid rgb(255, 255, 255) 8px;
>>>>>>> 24c85fc (Alterações para deixar o codigo mais semantico)
}